* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ADD8E6;
    border: 20px solid #fff;
    height: 100vh;
}


.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    
    /*depth of the elements */
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}

.burger-menu {
    cursor: pointer;
    height: 80px;
    width: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-menu:hover {
    background-color: #CD5C5C;
    transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
}

.wrapper {
    position: relative;
    height: 26px;
    width: 26px;
}

.bar {
    background-color: #fff;
    height: 3px;
    display: block; 
    position: absolute;
    opacity: 1;

    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

.bar:first-child {
    width: 22px;
}

.bar:nth-child(2) {
    width: 26px;
    top: 9px;
}

.bar:last-child {
    width: 14px;
    top: 18px;
}

.burger-menu:hover .bar:first-child {
    width: 26px;
}

.burger-menu:hover .bar:nth-child(2) {
    width: 14px;
}

.burger-menu:hover .bar:last-child {
    width: 26px;
}

.burger-menu.close .bar:first-child {
    top: 10px;
    width: 27px;

    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.burger-menu.close .bar:nth-child(2) {
    top: 0px;
    left:0;
    opacity:0;
    width:0;

    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.burger-menu.close .bar:last-child {
    top: 10px;
    width: 27px;

    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.burger-menu.close .bar:last-child,
.burger-menu.close .bar:first-child {
    transition: 0.8s 0.1s ease;
    -moz-transition: 0.8s 0.1s ease;
    -o-transition: 0.8s 0.1s ease;
    -webkit-transition: 0.8s 0.1s ease;
}

/* media query */

@media screen and (min-width : 768px) {
    .burger-menu {
        height: 120px;
        width: 120px;
    }
}

@media screen and (min-width : 1200px) {
    .burger-menu {
        height: 160px;
        width: 160px;
    }
}

/*flipper*/



.flipper {
    width: 50vh;
    height: 50vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    cursor: pointer;

    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flipper.flipped 
{
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.front, .back {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    background: white;
    background-image: url('./media/image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
 
.back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    background: #DCB8B2;
}

.back > video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} 

@supports (object-fit: cover) {
    .back > video {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
 

